body {background-image:url("bg.gif");}
b,i{color:#0000AA;}
h1,h2,h3,h4{color:#101077;}
a:visited{color:#4444FF;}
a:active{color:#9d182c;}
a:hover{color:#9d182c;}
a:link{color:#8888FF;}
a,b,p,i,h1,h2,h3,h4{font-family:arial;}